
.draft2 {
 margin-left: 10px;
 font-family: "Brush Script M7", cursive;
 color: red;
}

.draft3 {
 margin-left: 10px;
}

.draft41 {
 margin-left: 10px;
}

.draft42 {
 margin-left: 10px;
}

.draft43 {
 margin-left: 10px;
}

.draft44 {
 margin-left: 10px;
}

.draft5 {
 margin-left: 10px;
}

.draft6 {
 margin-left: 10px;
}

.sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 200px;
  background-color: #04AA6D;
  position: fixed;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
    color: white;
    background-color: #0a553d;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 