
.first{
  color: #054E72;
  font-weight: bold;
  font-family: "Trirong", serif;
}

.second{
  color: #4190B6;
}
.third{
  margin-left: 10px;
  color: #6AADCD;
}

.fourth{
  text-align: center;
  color: #6AADCD;
}

.draft2 {
 margin-left: 10px;
}

.para_content{
    margin-left: 10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 200px;
  background-color: #04AA6D;
  position: fixed;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
    color: white;
    background-color: #0a553d;
}

div.content {
  margin-left: 200px;
  padding: 1px 100px 50px 40px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 